<html>
{% load i18n %} 


<body>
	
	 <div>
	   <label>  Company </label>
	   <input type = "text" id = "company_name" name = "company_name"> 
	   <input type = "button" value = "Click here" > 
	 </div>

	 <div>
		 <label> Polarity </label>
		 <p id ="ploarity" name = "polarity" > {{ polarity }} </p>
		  <p >  "my name is : " {{ name }} </p>
		  {{ name }}
		  {{ type }}
		 <br>
		 <label> Summary</label>
		 <p id = "summary" name = "summary"> 
	 </div>

	 <div> 
	 	<label> Aspect </label>
	  	<input type = "text" id = "aspect" name = "aspect"> 
	    <input type = "button" value = "Click here" > 
	  </div>
</body>


</html>